/*
  =========================================================
  Site Wide Styles
  =========================================================
*/
.enclose {
    margin: auto;
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
}
/*Applies to all but Battle page*/
.narrative {
    position: absolute;
    top: 10%;
    /* transform: translateY(-50%); */
}

a {
    color: #999;
}

.button-container button {
  margin: 0 15px;
}

.container {
  text-align: center;
  padding: 10px;
}


/*
  =========================================================
  Menu
  =========================================================
*/

.main-menu {
  padding-top: 20%;
  max-width: 500px;
  margin: auto;
}

input[type="text"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 280px;
  height: 48px;
  margin: 10px auto;
}

.lobby-player-list {
    margin-top: -15px;
    margin-bottom: -10px;
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}

.lobby-player-list > li {
    text-align: left;
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    background:transparent;
    background-color: #f9f9f9;
}

.lobby-player-list > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:0;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    margin-right:8px;
    padding: 5px 4px 3px 4px;
    background:transparent;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
    background-color: #f9f9f9;
}

.btn-remove-player {
    float: right;
    position: relative;
    right: 1px;
}

.btn-edit-player {
    float: right;
}

.stats {
  position: absolute;
  top: 5px;
  right: 5px;
}

/*
  =========================================================
  Game
  =========================================================
*/

.battle {
  min-width: 692px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeIn .75s;
}

.arena {
  height:200px;
  width:200px;
  border-radius: 10px;
  bottom: 15px;
}

.player .arena {
  background-color: #ecffe6;
}

.opponent .arena {
  background-color: #ffe5ea;
}

img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  border: none;
  margin-top: 15px;
}

/*
  =========================================================
  Game - Banner
  =========================================================
*/

.scoreboard .circle {
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 10px;
}

.scoreboard .circle.player {
  background-color: #40ff00;
}

.scoreboard .circle.opponent {
  background-color: #ff0000;
}

.scoreboard .current {
  margin: -1px auto 0 -1px;
  border-radius: 50%;
  z-index: 10;
  background-color: transparent;
  opacity: 0.1;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  /* Giving Animation Function */
  -webkit-animation: pulse 1.666s linear infinite;
  -moz-animation: pulse 1.666s linear infinite;
  border-image: initial;
}

/*Animations*/

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes pulse  {
  0% {-webkit-transform: scale(1); opacity: 0;}
  8% {-webkit-transform: scale(1); opacity: 0.6;}
  15% {-webkit-transform: scale(1.1); opacity: 0.4;}
  30% {-webkit-transform: scale(1.2); opacity: 0.2;}
  100% {opacity: 0; -webkit-transform: scale(1.4);}
}

@-moz-keyframes pulse {
  0% {-webkit-transform: scale(1); opacity: 0;}
  8% {-webkit-transform: scale(1); opacity: 0.6;}
  15% {-webkit-transform: scale(1.1); opacity: 0.4;}
  30% {-webkit-transform: scale(1.2); opacity: 0.2;}
  100% {opacity: 0; -webkit-transform: scale(1.4);}
}
