body {
  text-align: center;
}

.main-menu {
  padding-top: 20%;
  max-width: 500px;
  margin: auto;
}

.button-container button {
  margin: 0 15px;
}

input[type="text"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 280px;
  height: 48px;
  margin: 10px auto;
}
